* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    padding: 0;
}

html,body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body > * {
    flex-shrink: 0;
}

.bg-lightgray {
    background-color: #f2f2f2;
}

.main-title{
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 3px solid darkgray;
    margin-bottom: 0;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.space-around {
    justify-content: space-around;
}

.height-100 {
    height: 100%;
}

.width-20 {
    width: 20%;
}

.mb-15 {
    margin-bottom: 15px;
}

.mr-10 {
    margin-left: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.space-between {
    justify-content: space-between;
}

.todo-item {
    background-color: white;
    border: lightgray;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
}

.item-button {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

.item-description {
    text-align: left;
}

.item-footer {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.lightblue {
    background-color: rgb(92, 147, 211);
}

.lightyellow {
    background-color: rgb(224, 224, 144);
}

.lightred {
    background-color: rgb(202, 115, 115);
}